{% extends "base.html" %}

{% block contenidos %}
<div class="card">
  <div class="card-header bg-success text-white">
    <h4>Recursos Descargables</h4>
  </div>
  <div class="card-body">
    <ul class="list-group ">
      <li class="list-group-item">
        <a href="{{ url_for('static', filename='recursos/planilla_ejercicios.pdf') }}" download>
          Planillas de ejercicios básicos para complementar la nutrición
          <a href="{{ url_for('static', filename='recursos/planilla_ejercicios.pdf') }}" download>
          Planillas de ejercicios básicos para complementar la nutrición
        </a>
      </li>
    </ul>
  </div>
</div>
</section>

{% endblock %}